# directories
*.idea*
*.vscode*
*data*
*.pytest_cache*
*.venv*
*pycache*
*build*
*dist*
*.tox*
# Files
*.nii
*.nii.gz
*.spec
__pycache__/*
__pycache__/PineappleUI.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
tests/debug.py
/PyNeapple.egg-info*
debug.py
/poetry.lock
