*dist*
*.idea*
data/*
*.pytest_cache*
*.venv*
*pycache*
pat01_img.nii
pat01_img_AmplDyn.nii
*.nii
*.nii.gz
*/build*
*.spec
__pycache__/PineappleUI.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
test/debug.py
.vscode/settings.json
.vscode/launch.json
!test*
/Pyneapple.egg-info*
